:root{
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-font: inherit;



    --blue-btn: #00b6d1;
    --green-btn: #5cb85c;

    --lang-card: #f9f9f9;

    --dark-section: #222;

    --dark-black-text: black;
    --light-black-text: #222;
    --white-text: #fff;
    --blue-text: #00b6d1;

    --icon-color: #222;

    --btn-text-color: #fff;

}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    font-family: var(--main-font);
}


.btn{
    background-color: var(--blue-btn);
    border: none;
    padding: 15px 15px;
    font-weight: 700;
    color: var(--btn-text-color);
    border-radius: 4px;
}
.big-btn{
    font-size: 15px;
    text-transform: uppercase;
}
.midium-btn{
    font-size: 13px;
    text-transform: uppercase;
}
.small-btn{
    font-size: 11px;
    text-transform: capitalize;
    padding: 10px 18px;
}
.green-btn{
    background-color: var(--green-btn);
}
.container{
    max-width: 980px;
    margin: auto;
}








/* ========= HEADER SECTION START ========== */
header nav .header-container{
    max-width: 1280px;
    margin: auto;
    padding: 0 30px;
}
header nav .header-container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0;
}

header nav .header-container .row .logo{
    width: 180px;
}
header nav .header-container .row .logo img{
    width: 100%;
}

header nav .header-container .row ul{
    display: flex;
    align-items: center;
}
header nav .header-container .row ul li{
    margin: 0 10px;
}
header nav .header-container .row ul li:last-child{
    margin-right: 0;
    margin-left: 18px;
}
header nav .header-container .row ul li:last-child i{
    font-size: 25px;
}
header nav .header-container .row ul li a{
    color: var(--light-black-text);
    text-transform: capitalize;
    font-size: 16px;
    padding: 2px 4px;


    display: flex;
    align-items: center;

}
header nav .header-container .row ul li a i{
    font-size: 11px;
    margin-left: 7px;
    margin-top: 3px;
}

header nav .header-container .row .bar{
    display: none;
    cursor: pointer;
}
header nav .header-container .row .bar i{
    color: #2ea3f2;
    font-size: 28px;
}
/* ========= HEADER SECTION END ========== */



/* =========== HERO SECTION START ========== */
.hero-sec .container{
    padding: 50px 40px;
}
.hero-sec .container .row h3{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin: 20px 0;
    color: var(--light-black-text);
}
.hero-sec .container .row h3 span{
    font-weight: bolder;
}
.hero-sec .container .row h3 img{
    margin-left: 10px;
    width: 110px;
}
.hero-sec .container .row p{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0;
    color: var(--light-black-text);
}
.hero-sec .container .row .btn{
    display: block;
    text-align: center;
    /* width: max-content; */
    margin: 20px auto;
    
}

.hero-sec .container .row .version-and-release-date{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 50px;
}
.hero-sec .container .row .version-and-release-date .ue-logo{
    background-image: url("../img/UE.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 57px;
    height: 57px;
    margin-right: 20px;
    margin-top: 15px;
}
.hero-sec .container .row .version-and-release-date p{
    font-size: 24px;
    color: var(--light-black-text);
    text-align: left;
    line-height: 20px;
}
.hero-sec .container .row .version-and-release-date p span:last-child{
    font-size: 14px;
}

/* =========== HERO SECTION END ========== */
/* ======== DOWNLOAD-CARD SECTION START ========== */
.download-card-sec .container{
    padding: 50px 32px;
    padding-top: 0;
}
.download-card-sec .container .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    
    gap: 20px 30px;
}
.download-card-sec .container .row .card{
    background-color: var(--lang-card);
    /* width: max-content; */
    padding: 15px 13px;

}
.download-card-sec .container .row .card h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}
.download-card-sec .container .row .card .nation-name{
    display: block;
    margin: 12px 0;
    text-transform: capitalize;
    font-size: 12px;
    text-align: center;
}
.download-card-sec .container .row .card .btns{
    margin-top: 20px;
    text-align: center;
}
.download-card-sec .container .row .card .btns .btn{
    margin: 6px 2px;
}
/* ======== DOWNLOAD-CARD SECTION END ========== */




/* ======== NEWSLETTER SECTION START ========= */
.newsletter-sec{
    background-color: var(--dark-section);
    color: var(--white-text);
}
.newsletter-sec .container{
    padding: 70px 40px;
}
.newsletter-sec .container .row{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.newsletter-sec .container .row .col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px 100px;
}
.newsletter-sec .container .row .col-1 .text b{
    font-size: 24px;
    text-align: center;
    width: 100%;

    display: inline-block;
    margin: 10px 0;
}
.newsletter-sec .container .row .col-1 .text p{
    font-size: 16px;
    text-align: center;
}
.newsletter-sec .container .row .col-1 .input-box{
    background-color: white;
    color: var(--light-black-text);

    display: flex;
    flex-direction: column;
    text-align: center;

    max-width: max-content;
    padding: 40px 35px;
    border-radius: 12px;
}
.newsletter-sec .container .row .col-1 .input-box b{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    color: var(--blue-text);
    margin-bottom: 15px;
}
.newsletter-sec .container .row .col-1 .input-box span{
    font-size: 14px;
    margin-bottom: 2px;
    display: inline-block;
    color: var(--light-black-text);
}
.newsletter-sec .container .row .col-1 .input-box input{
    outline: none;
    border: 0.1px solid #99999969;
    background-color: white;
    padding: 12px 15px;
    margin-bottom: 10px;
    color: var(--light-black-text);
    width: 280px;
}
.newsletter-sec .container .row .col-1 .input-box .btn{
    box-shadow: 1.2px 2.2px 5px -3px var(--blue-btn);
}




.newsletter-sec .container .row .col-2 a{
    color: var(--blue-text);

}
.newsletter-sec .container .row .col-2 .text-1 b{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
}
.newsletter-sec .container .row .col-2 .text-1 p{
    font-size: 15px;
    margin: 10px 0;
}
.newsletter-sec .container .row .col-2 .text-2 b{
    font-size: 23px;
    font-weight: 400;
    margin-top: 15px;
    display: inline-block;
    
}
.newsletter-sec .container .row .col-2 .text-2 p{
    font-size: 15px;
    margin: 10px 0;
}
/* ======== NEWSLETTER SECTION END ========= */










/* =========MEDIA QUERI START========== */
@media only screen and (max-width: 990px){
    .hero-sec .container .row h3{
        font-size: 40px;
    }
    .hero-sec .container .row p{
        font-size: 23px;
    }
}






@media only screen and (max-width: 980px){
    header nav .header-container .row ul{
        display: none;
    }
    header nav .header-container .row .bar{
        display: inline-block;
    }


    .hero-sec .container{
        padding: 10px 40px;
    }



    .download-card-sec .container .row{
        grid-template-columns: repeat(1, 1fr);
    }



    .newsletter-sec .container .row .col-1{
        flex-direction: column;
    }
}







@media only screen and (max-width: 768px){
    header nav .header-container{
        padding: 0 20px;
    }
    header nav .header-container .row .logo{
        width: 150px;
    }



    .hero-sec .container{
        padding: 10px 20px;
    }
    .hero-sec .container .row h3{
        font-size: 34px;
    }
    .hero-sec .container .row p{
        font-size: 20px;
    }
    .hero-sec .container .row .version-and-release-date{
        margin-top: 30px;
    }
    .hero-sec .container .row .version-and-release-date .ue-logo{
        width: 45px;
        height: 45px;
        margin-right: 10px;
        margin-top: 8px;
    }
    .hero-sec .container .row .version-and-release-date p{
        font-size: 22px;
    }
    .hero-sec .container .row .version-and-release-date p span:last-child{
        font-size: 12px;
    }
}





@media only screen and (max-width: 540px){
    header nav .header-container .row .logo{
        width: 130px;
    }
    header nav .header-container .row .bar i{
        font-size: 25px;
    }




    .hero-sec .container .row .version-and-release-date .ue-logo{
        width: 45px;
        height: 45px;
        margin-right: 10px;
        margin-top: 0px;
    }




    .newsletter-sec .container{
        padding: 70px 20px;
    }
    .newsletter-sec .container .row .col-1 .input-box input{
        padding: 12px 15px;
        width: auto;
    }
}